/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-light;
  font-family: $font-main;
  line-height: 1.7;
  font-weight: $font-normal;

}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.page {
  padding: 5px;
}
