#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}

.products {
  margin-bottom: 55px;

}

.product-content {
  border-color: #fff;
  height: 320px;
  position: relative;

  .product__name {
    font-size: 30px;
    font-weight: $font-bold;
    letter-spacing: 1px;
  }

  .product__name:after {
    position: absolute;
    content: '';
    top: 95px;
    left: 42px;
    width: 75px;
    height: 3px;
    transform: translateX(-50%);
    background: $color-middle;
  }

  .product__description {
    font-size: 12px;
    font-weight: $font-semibold;
    max-width: 220px;
    position: absolute;
    top: 74px;
    left: 100px;
  }

  .details {
    line-height: 0.4;
    font-size: 14px;
    font-weight: $font-bold;
    text-transform: uppercase;
    position: absolute;
    top: 180px;
    left: 5px;

    .score {
      color: $color-middle;
    }
  }
}

.product-image {
  box-sizing: border-box;
  box-shadow: black;
}

// Media query

@media (min-width: 576px) and (max-width: 768px) {
  .product-content {
    height: 200px;

    .product__name {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 25px;
    }

    .product__name:after {
      top: 50px;
    }

    .product__description {
      top: 35px;
    }

    .details {
      top: 130px;
    }
  }
}